
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(#007991 , #78ffd6 );
}

.container {
    background : linear-gradient(#007991 , #78ffd6 );
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(37, 31, 31, 0.1);
    text-align: center;
}

.container img {
    width: 64px !important;
    height: 64px !important;
}

.logo {
    font-size: 1.5rem;
    color: pink;
    margin-bottom: 20px;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: whitesmoke;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid grey;
    margin-bottom: 20px;
}

.avatar i {
    font-size: 40px;
    color: #333;
}

.input-field {
    margin-bottom: 15px;
}

.input-field input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}



.input-field input:focus {
    border-color: #e63946;
}

.create-account {
    margin: 10px 0;
    font-size: 0.9rem;
}

.create-account a {
    color: #e63946;
    text-decoration: none;
}

.create-account a:hover {
    text-decoration: underline;
}

.social-login {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 15px 0;
}

.social-login img {
    width: 40px;
    cursor: pointer;
}

.login-btn {
    padding: 10px 15px;
    background: whitesmoke;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
}

.login-btn:hover {
    background: cornflowerblue;
}

@media (max-width: 480px) {
    .container {
        width: 90%;
    }
}
